@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663586267661') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-suo:before {
  content: "\e652";
}

.icon-chaping:before {
  content: "\e60f";
}

.icon-haoping:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-youjiantou:before {
  content: "\e630";
}

.icon-taiyang-copy:before {
  content: "\e64c";
}

.icon-liuyanpinglun:before {
  content: "\e61c";
}

.icon-yiban:before {
  content: "\e8da";
}

.icon-Phoneshouji:before {
  content: "\e8dc";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-tuijian:before {
  content: "\e606";
}

.icon-paixu:before {
  content: "\e60d";
}

.icon-jiahao:before {
  content: "\e602";
}

.icon-jiarushujia:before {
  content: "\e610";
}

.icon-yichu:before {
  content: "\e66a";
}

.icon-zitiyanse:before {
  content: "\ec85";
}

.icon-icon_shujianor:before {
  content: "\e605";
}

.icon-chahao:before {
  content: "\e668";
}

.icon-24gl-lock:before {
  content: "\e9d4";
}

.icon-icon-:before {
  content: "\e65a";
}

.icon-paixu1:before {
  content: "\e64e";
}

.icon-yejianmoshishenyemoshiyueliang:before {
  content: "\e624";
}

